<footer>
  <nav>
    <ul>
      <li><a href="https://amcrare.github.io/">GitHub.io</a></li>
      <li><a href="https://github.com/amcrare">GitHub</a></li>
      <li><a href="https://www.freecodecamp.org/amcrare">freeCodeCamp</a></li>
      <li><a href="https://www.codecademy.com/profiles/McRoffis">Codecademy</a></li>
      <li><a href="https://www.linkedin.com/in/angela-mccrary-roffis/">LinkedIn</a></li>
    </ul>
  </nav>
  <div>
    <p><em>Page designed by McRoffis Designs</em></p>
  </div>
</footer>
