/* Color Hex Codes */
/* Dark: #003D20 */
/* Light: #F9F7F4 */
/* Brand: #71AA8E */
/* Accent: #557A66 */
/* Neutral: #CED6D2 */
:root {
  --dark: #003D20;
  --light: #F9F7F4;
  --brand: #71AA8E;
  --accent: #557A66;
  --neutral: #CED6D2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
  background-color: var(--light);
}

@media (prefers-color-scheme: dark) {
  * {
    color: var(--light);
    background-color: var(--dark);
  }
}

header {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px 20px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent);
}

body {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', 'Georgia', serif;
}

strong {
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}

footer img {
  width: 1.5em;
  height: auto;
  display: inline;
}

