/* Color Hex Codes */
/* Dark: #003D20 */
/* Light: #F9F7F4 */
/* Brand: #71AA8E */
/* Accent: #557A66 */
/* Neutral: #CED6D2 */

main {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

p {
  margin-bottom: .5em;
}

a {
  text-decoration: none;
  color: #557A66;
}

