/* Color Hex Codes */
/* Dark: #003D20 */
/* Light: #F9F7F4 */
/* Brand: #71AA8E */
/* Accent: #557A66 */
/* Neutral: #CED6D2 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #003D20;
  background-color: #F9F7F4;
}

@media (prefers-color-scheme: dark) {
  * {
    color: #F9F7F4;
    background-color: #003D20;
  }
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6em;
  padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', 'Georgia', serif;
}

strong {
  font-weight: 600;
}

