/* Color Hex Codes */
/* Dark: #003D20 */
/* Light: #F9F7F4 */
/* Brand: #71AA8E */
/* Accent: #557A66 */
/* Neutral: #CED6D2 */

header {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

main {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  margin-bottom: 1em;
}

p {
  margin-bottom: .5em;
}

a {
  text-decoration: none;
  color: #557A66;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}
