header {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
}

main {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: .5em;
}

h4 em {
  color: #71AA8E;
}


h6 {
  font-size: .9em;
  font-weight: 400;
}

p {
  margin-bottom: .5em;
}

strong {
  font-weight: 600;
}

hr {
  border: 0;
  height: 3px;
  background-color: #71AA8E;
  background: linear-gradient(to right, #71AA8E00, #71AA8EFF, #71AA8E00);
  margin: 2em 0;
}

.caption {
  margin: 20px;
  font-size: .9em;
  text-align: center;
}

div div {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2em;
}

.typography {
  text-align: center;
  font-size: 2em;
  margin-bottom: .5em;
}

div div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  gap: .25em;
}

div div div img {
  max-width: 92px;
  height: auto;
  display: block;
}

.hex {
  font-weight: 600;
}

.wordmark {
  max-width: 32em;
  height: auto;
  display: block;
}

div div div p {
  text-align: center;
  font-size: .8em;
  line-height: .75em;
}

p img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 3em;
}

img {
  max-width: 50%;
  height: auto;
}

main ul {
  list-style: disc;
  padding-left: 4em;
}

ul ol {
  list-style: decimal;
  padding-left: 2em;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #71AA8E;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}
