/* Color Hex Codes */
/* Black Forest: #283618 */
/* Olive Leaf: #606C38 */
/* Cornsilk: #FEFAE0 */
/* Light Caramel: #DDA15E */
/* Copper: #BC6C25 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #283618;
  background-color: #FEFAE0;
}

body {
  font-size: 1em;
  line-height: 1.6em;
  padding: 20px;
}

header {
  padding: 20px 0;
  text-align: center;
}

img {
  max-width: 1em;
  height: auto;
  margin-right: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

h2 {
  margin-bottom: 1em;
}

p {
  margin-bottom: .5em;
}

div {
  margin: 20px;
  font-size: .9em;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #BC6C25;
}

footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.8em;
}